
<div id="smallDialog">
	<md-dialog class="md-default-theme compose-dialog" aria-label="New Message" ng-cloak>
    	
        <md-toolbar class="md-accent md-hue-2">
          <div class="md-toolbar-tools" >
            <span class="title">Create</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                       translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
              <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <form name="teamForm" class="md-inline-form">
                <div layout="row" class="date-row">
                    <md-input-container flex="" >
                        <label for="">Name</label>
                        <input name="teamname" ng-model-options="{ debounce: 250 }"
                               property="nameExist" ng-model="vm.team.teamname"  autocomplete="off" required>
                        <div ng-messages="teamForm.teamname.$error" ng-show="teamForm.teamname.$touched" role="alert">
                            <div ng-message="required"><span>Name cannot be null</span></div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </md-dialog-content>

      	<md-dialog-actions layout="row" layout-align="center center" layout-padding>
        	<md-button  ng-click="vm.saveTeam(vm.team)" class="save-button md-accent white-fg md-raised" aria-label="Save"
                    ng-disabled="teamForm.$invalid || teamForm.$pristine">Save</md-button>
      	</md-dialog-actions>

  </md-dialog>

</div>


