<div class="header md-stripe" layout="row" layout-align="space-between">
	<div layout="row" layout-align="space-between" flex="100">
		<div class="logo-text" flex="20">
			<span translate="csq.csqs"></span>
		</div>
		<div class="sys-tabs" flex="80">
			<md-button ng-disabled="vm.queueFiter==undefined"  ng-click="vm.queueFiter=undefined" aria-label="allQueue" ng-disabled=""><span translate="csq.allQueue"></span></md-button>
			<md-button ng-disabled="vm.queueFiter=='SKILL_GROUP'" ng-click="vm.queueFiter='SKILL_GROUP'" aria-label="csq.SKILL_GROUP" ng-disabled=""><span translate="csq.SKILL_GROUP"></span></md-button>
			<md-button ng-disabled="vm.queueFiter=='RESOURCE_GROUP'" ng-click="vm.queueFiter='RESOURCE_GROUP'" aria-label="csq.RESOURCE_GROUP" ng-disabled=""><span translate="csq.RESOURCE_GROUP"></span></md-button>
		</div>
	</div>
	<md-fab-trigger class="fabIcon">
      <md-button aria-label="menu" class="md-fab md-warn" ng-click="vm.openCreateQueueDialog($event)">
        <md-tooltip> <span translate="generic.createLabel" translate-values="{name:'{{'csq.csq'|translate}}'}"></span></md-tooltip>
        <md-icon md-font-icon="icon-plus"></md-icon>
      </md-button>
    </md-fab-trigger>
</div>


<!-- BOARD -->
<div id="board" ng-class="vm.board.settings.color+'-100-bg'"
     ng-model="vm.queueList" layout="row">


  <!--ui-sortable="vm.sortableListOptions"-->
  <!-- LIST -->
  <div class="list-wrapper"  ng-repeat="list in vm.queues | filter:vm.filterCsq | filter:global.search track by list.id ">
    <div class="list qlist md-whiteframe-1dp" layout="column">

      <!-- LIST HEADER -->
      <div ng-class="list.resourcePoolType==='RESOURCE_GROUP'?'list-header-green':'list-header'" layout="row" layout-align="space-between center">

        <div class="list-header-name">
          <span>{{list.name}}{{list.resourcePoolType==='RESOURCE_GROUP'?'('+list.poolSpecificInfo.resourceGroup.resourceGroupNameUriPair['@name']+')':''}}
          <md-tooltip>{{list.resourcePoolType==='RESOURCE_GROUP'?'csq.nameGroup':'generic.name'|translate}}</md-tooltip>
          </span>
        </div>

        <md-menu md-offset="0 48px" class="options list-header-option-button">

          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event,vm.queueList)" aria-label="Options"
                     translate translate-attr-aria-label="SB.OPTIONS">
            <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content class="options-menu-content" width="4">
            <md-menu-item>
              <md-button ng-click="vm.openEditQueueDialog($event,list)" aria-label="Edit Queue">
                <md-icon md-font-icon="icon-pencil" md-menu-align-target></md-icon>
                <span translate="generic.editLabel" translate-values="{name:'{{'csq.csq'|translate}}'}"></span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.deleteQueue($event,list.id)" aria-label="Remove Queue">
                <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                <span translate="generic.removeLabel" translate-values="{name:'{{'csq.csq'|translate}}'}"></span>
              </md-button>
            </md-menu-item>
          </md-menu-content>

        </md-menu>

      </div>
      <!-- / LIST HEADER -->

      <!-- LIST CONTENT -->
      <div class="list-content skill-list" ms-scroll>
        <div ng-if="list.resourcePoolType==='SKILL_GROUP'"  class="list-cards"  ng-model="list.skillId">
          <div class="list-card md-whiteframe-2dp"  ng-repeat="cardId in list.skillId">
            <div class="list-card-details queue">
              <div class="list-title" layout="row">
                <h3>{{cardId.name}}</h3>
                <md-tooltip md-direction="top"><span translate="skill.skillLevel"> </span>{{cardId.competencelevel}}</md-tooltip>
              </div>
              <md-button ng-click="vm.deleteCard(cardId,list.id,'skill')" class="md-icon-button qdel" aria-label="Delete" translate translate-attr-aria-label="generic.DELETE">
                  <md-icon md-font-icon="icon-delete"></md-icon>
                  <md-tooltip><span translate="generic.delete"></span></md-tooltip>
                </md-button>
            </div>
          </div>
          <!-- / CARD -->

        </div>
        <div ng-if="list.resourcePoolType==='RESOURCE_GROUP'" class="list-cards queueId{{list.id}}" ui-sortable="vm.sortableCardOptions"   ng-model="list.groupId">

          <div class="list-card md-whiteframe-2dp" id="{{list.id}}"
               ng-repeat="cardId in list.groupId"
               ng-click="vm.openCardDialog($event, cardId)">

            <!-- CARD DETAILS -->
            <div class="list-card-details queue agnt">

              <div class="list-card-members" layout="row" layout-align="space-between center">


                <div class="list-card-member" layout-align="start center">

                  <md-list>
                    <md-list-item class="md-2-line contact-item qagent">
                    	<img ng-src="{{cardId.avatar ? cardId.avatar:'/assets1/images/avatars/profile.jpg'}}" class="md-avatar" alt="{{cardId.firstName}}" />
                        <!--<div>
                            <md-icon md-font-icon ng-class="cardId.status==='ready'?'icon-phone ready':cardId.status==='talking'?'icon-phone-in-talk talking':cardId.status==='notready'?'icon-phone-paused notready':cardId.status==='logout'?'icon-phone-hangup logdout':''" class="icon status s12 astatus">
                                <md-tooltip md-direction="right">{{cardId.status}}</md-tooltip>
                            </md-icon>
                          </div>-->

                      		<div class="md-list-item-text compact">
                            	<h3>{{cardId.firstName +' '+cardId.lastName}}</h3>
                        		<h4><md-tooltip><span translate="agent.agentId"></span></md-tooltip><span class="icon-account"></span><span>{{cardId.userID}}</span></h4>
                        		<div flex="40" class="tags">
                                    <div class="text-boxed m-0 green-bg white-fg">
                                        <span class="icon-headphones"></span> {{cardId.extension}}
                                    </div>
                        		</div>

                      		</div>



                      	<md-button ng-click="vm.deleteCard(cardId,list.id,'group')" class="md-icon-button qdel" aria-label="Delete" translate translate-attr-aria-label="generic.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="generic.delete"></span></md-tooltip>
              </md-button>


                    </md-list-item>
                  </md-list>
                </div>
              </div>
              <!-- / CARD MEMBERS -->
              <input type="hidden" ng-value="list.agentId" ng-model="vm.groupOrder"/>
            </div>
            <!-- / CARD DETAILS -->
          </div>
        </div>
      </div>
      <!-- / LIST CONTENT -->

      <!-- NEW CARD BUTTON-->
      <div class="list-footer list-add-card" ng-show="(list.resourcePoolType==='RESOURCE_GROUP' && list.poolSpecificInfo.resourceGroup.resourceGroupNameUriPair!=undefined) || list.resourcePoolType==='SKILL_GROUP'" ms-sb-add-skill ms-queue="list" ms-agent-list="vm.agentList" ms-group-list="vm.groupList" ms-init-function="vm.init" ms-skill-list="vm.skillList"  ms-skill-id="list.id" md-ink-ripple
           layout="row" layout-align="start center">
        <div>
          <i class="icon-plus s20"></i>
        </div>
        <span ng-if="list.resourcePoolType==='SKILL_GROUP'" translate="generic.addLabel" translate-values="{name:'{{'skill.skill'|translate}}' }"></span>
          <span ng-if="list.resourcePoolType==='RESOURCE_GROUP' && list.poolSpecificInfo.resourceGroup.resourceGroupNameUriPair!=undefined" translate="generic.addLabel" translate-values="{name:'{{'agent.agent'|translate}}'}"></span>
      </div>
      <!-- / NEW CARD BUTTON-->
      <div  ng-click="vm.openEditQueueDialog($event,list)" class="list-footer list-add-card"  ng-show="(list.resourcePoolType==='RESOURCE_GROUP' && list.poolSpecificInfo.resourceGroup.resourceGroupNameUriPair===undefined)">
        <div>
          <i class="icon-plus s20"></i>
        </div>
        <span translate="generic.assignLabel" translate-values="{name:'{{'group.group'|translate}}'}"></span>
      </div>
    </div>
  </div>
  <!-- / LIST -->
  <!-- NEW LIST BUTTON-->

   <!-- <div class="list new-list md-whiteframe-1dp">-->



    <!--</div>-->

</div>
<!-- / BOARD -->
