<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">

  <form name="contactForm" class="md-inline-form" novalidate>

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent md-tall" layout="column">

      <!-- TOOLBAR TOP -->
      <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
        <span class="title">{{vm.title}}</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
      <!-- / TOOLBAR TOP -->

      <!-- TOOLBAR MIDDLE -->
      <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
        <div layout="column" layout-align="center center">
          <div class="pro-pic" ngf-select="" n class="save-button md-accent md-raised" name="file" ngf-accept="'image/*'"
               ngf-max-size="2MB" aria-label="upload" ng-model="vm.user.file" accept=".jpg">

            <img ng-if="vm.user.file" ngf-src="vm.user.file"class="profile-image avatar xlarge"  alt="{{vm.contact.username}}"/>

            <img ng-if="!vm.user.file" ng-src="/efadminpanel/assets1/images/avatars/profile.jpg"
                 class="profile-image avatar xlarge"  alt="{{vm.contact.username}}"/>
            <span><md-icon class="icon-camera">
              <!--<md-button ngf-select="" n class="save-button md-accent md-raised" name="file" ngf-accept="'image/*'"-->
                                                                      <!--ngf-max-size="2MB" aria-label="upload" ng-model="vm.agent.file" accept=".jpg">-->
              <!--{{'file.browse' | translate}}-->
            <!--</md-button>-->
            </md-icon> {{'agent.uploadProfile' | translate}} </span>
          </div>
          <div class="contact-name" style="padding-top: 120px; ">{{vm.contact.fullName}}</div>
        </div>
      </div>
      <!-- / TOOLBAR MIDDLE -->

      <!--  TOOLBAR BOTTOM -->
      <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center center">

        <div flex layout="row" layout-align="center center">
          <label>Active</label>
          <md-switch ng-model="vm.contact.isActive" aria-label="Switch 1"></md-switch>
        </div>
      </div>
      <!-- / TOOLBAR BOTTOM -->

    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

      <div layout="row" layout-padding>
        <div flex="50">


          <md-input-container ng-if="vm.newContact" class="md-icon-float md-block">
            <label translate="CONTACTS.username">Username (required)</label>
            <input ng-model="vm.contact.username" type="text" ng-required>
          </md-input-container>

          <md-input-container ng-if="!vm.newContact" class="md-icon-float md-block">
            <label translate="CONTACTS.username">Username</label>
            <input ng-model="vm.contact.username" ng-disabled="true" type="text">
          </md-input-container>

          <md-input-container ng-if="vm.newContact" class="md-icon-float md-block">
            <label translate="CONTACTS.password">Password (required)</label>
            <input ng-model="vm.contact.password" type="password" ng-required>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label translate="CONTACTS.fullName">Full Name (required)</label>
            <input ng-model="vm.contact.fullName" type="text" ng-required md-autofocus>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label translate="CONTACTS.email">Email (required)</label>
            <input ng-model="vm.contact.email" type="text" ng-required>
          </md-input-container>

        </div>
        <div flex="50" class="user-roles">
          <div class="h3">Roles</div>
          <md-chips ng-model="vm.contact.roles" readonly="vm.readonly" md-removable="vm.removable">role-name</md-chips>
        </div>
      </div>

    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

    <!-- DIALOG ACTIONS -->
    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit" ng-if="!vm.newContact" ng-click="vm.saveContact(vm.contact, vm.user.file)"
                   class="send-button md-accent md-raised"
                   ng-disabled="contactForm.$invalid || contactForm.$pristine"
                   aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
          SAVE
        </md-button>

        <md-button type="submit" ng-if="vm.newContact" ng-click="vm.addNewContact(vm.contact, vm.user.file)"
                   class="send-button md-accent md-raised"
                   ng-disabled="contactForm.$invalid || contactForm.$pristine"
                   aria-label="Add Task" translate="CONTACTS.ADD_CONTACT"
                   translate-attr-aria-label="CONTACTS.ADD_CONTACT">
          ADD CONTACT
        </md-button>

      </div>

      <!--<div layout="row">-->
      <!--<md-button class="md-icon-button" ng-if="!vm.newContact" ng-click="vm.deleteContactConfirm($event)" aria-label="Delete"-->
      <!--translate translate-attr-aria-label="CONTACTS.DELETE">-->
      <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
      <!--<md-tooltip><span translate="CONTACTS.DELETE">DELETE</span></md-tooltip>-->
      <!--</md-button>-->
      <!--</div>-->
    </md-dialog-actions>
    <!-- / DIALOG ACTIONS -->

  </form>

</md-dialog>
<!-- / DIALOG -->
