
/Back-End/Thumbs.db
/Back-End/.DS_Store
/Back-End/.gradle
/Back-End/build/
/Back-End/.idea
/Back-End/*.iml
/Back-End/*.ipr
/Back-End/*.iws
/Back-End/.project
/Back-End/.settings
/Back-End/.classpath

/Front-End/Thumbs.db
/Front-End/.DS_Store
/Front-End/.gradle
/Front-End/build/
/Front-End/.idea
/Front-End/*.iml
/Front-End/*.ipr
/Front-End/*.iws
/Front-End/.project
/Front-End/.settings
/Front-End/.classpath

/Front-End/newMicroService/Thumbs.db
/Front-End/newMicroService/.DS_Store
/Front-End/newMicroService/.gradle
/Front-End/newMicroService/build/
/Front-End/newMicroService/.idea
/Front-End/newMicroService/*.iml
/Front-End/newMicroService/*.ipr
/Front-End/newMicroService/*.iws
/Front-End/newMicroService/.project
/Front-End/newMicroService/.settings
/Front-End/newMicroService/.classpath

/Front-End/node_modules
/Front-End/node_modules/*
/Front-End/app.js
/Front-End/build.js
/Front-End/test.js
/Front-End/bower.json
/Front-End/package.json

/Front-End/newMicroService/src/app/baseApp
/Front-End/newMicroService/src/app/baseApp/*
/Front-End/newMicroService/.tmp
/Front-End/newMicroService/.tmp/*
/Front-End/newMicroService/.idea
/Front-End/newMicroService/.idea/*
/Front-End/newMicroService/bower_components
/Front-End/newMicroService/bower_components/*
/Front-End/newMicroService/node_modules
/Front-End/newMicroService/node_modules/*
