
#contacts {
  position: relative;

  > .header {
    height: 76px;
    min-height: 76px;
    max-height: 76px;
    background-image: none;
    background-color: #24499e;

    .logo {

      .logo-icon {
        margin: 0 16px 0 0;
      }

      .logo-text {
        font-size: 24px;
      }
    }

    md-icon {
      color: #FFFFFF;
    }

    .search-input-wrapper {
      position: relative;

      label {
        padding-right: 4px;
        cursor: pointer;

        md-icon {
          color: rgba(255, 255, 255, 0.8);
        }

      }

      md-input-container {

        .md-errors-spacer {
          display: none;
        }

        input {
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          color: rgba(255, 255, 255, 0.8);
          width: 240px;

          &::placeholder {
            color: rgba(255, 255, 255, 0.8);
          }

          &:focus {
            border-bottom: 1px solid white;
            color: white;
          }
        }
      }
    }

    &.selected-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-image: none;
      opacity: 1 !important;

      .close-button-wrapper {
        width: 244px;
      }
    }
  }

  > .content {
    position: absolute;
    top: 76px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    md-tabs {
      width: 100%;
      height: 100%;
      //overflow-y:auto !important;
    }

    > md-sidenav {
      padding: 0;
    }

    > md-tabs {

      > md-tabs-wrapper {
        background: #FFFFFF;
        padding: 0 24px;

        md-tabs-canvas {
          height: 56px;

          md-pagination-wrapper {
            height: 56px;
          }

          .md-tab {
            padding: 16px 24px;
            text-transform: none;
          }
        }
      }

      &:not(.md-dynamic-height) {

        md-tabs-content-wrapper {
          top: 22px;
        }
      }

      > md-tabs-content-wrapper {

        md-tab-content {
          padding: 0 5% 10% 2%;
          //overflow-y: visible;
        }
      }
    }

    .main {
      padding: 0 6% 0 0;
      width: 104%;
      height: 68vh;

      .contacts-list {
        position: relative;
        padding-bottom: 0;

        .md-list-item-inner img + p {
          max-width: 250px;
          min-width: 250px;
        }

        .md-subheader {
          width: 104%;
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          border-bottom: 1px solid rgba(0, 0, 0, 0.14);

          .md-subheader-content {
            line-height: 38px;
          }

          ._md-subheader-inner {
            padding: 16px;
          }

          .contacts-count {
            padding-left: 4px;
          }

          .list-title {
            margin-right: 4px;
          }

          .edit-group-form {

            .editable-controls {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;

              .editable-input {
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 4px 6px;
                margin-right: 6px;
                font-size: 13px;
              }

              .editable-buttons {

              }
            }

            .edit-group-button {
              margin: 0;
            }

            .md-button {
              margin: 0;
              margin: 0;
              padding: 0;
              height: 32px;
              min-height: 32px;
              line-height: 32px;
              width: 32px;
            }
          }
        }

        .contact-item {
          position: absolute;
          right: 0;
          left: 0;
          width: 100%;
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          background: white;
          transition: transform 200ms ease-out;
          will-change: transform;

          &:last-of-type {
            margin-bottom: 24px;
          }

          &.ng-leave {
            transform: translateY(0);
            display: none;

            &.ng-leave-active {
              transform: translateY(-100%);
            }
          }

          &.ng-hide {
            display: none;
          }

          &.ng-hide-add-active,
          &.ng-hide-remove-active {
            display: block;
            transition-property: all;
          }
        }
      }

      .no-results {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
      }
    }
  }

  .multi-select-actions {
    text-align: right;
  }
}

.new-multiple {
  //position: fixed;
  right: 20px;
  top: 90px;
}

// RESPONSIVE
/*@media screen and (min-width: $layout-breakpoint-md) {

    #contacts {

        > .content {

            .main {
                left: 268px;
            }
        }
    }
}*/

.pad{
  padding:2% 0% 0% 2%;
}

.overflow{
  overflow-y:auto !important;
}
.maxWidth{
   max-width: 25% !important;
 }
.maxWidthDes{
  max-width: 65% !important;
  width: 24px ;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.maxWidthPerm{
  max-width: 74% !important;
  width: 24px ;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.chip{
  border-radius: 16px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  //float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  background: rgb(224,224,224);
  color: rgb(66,66,66);
  font-family: "Monaco", "Menlo", "Consolas", "Ubuntu Mono", monospace;
}

.listMenuHover{
  //left: 130px;
  //top: -12px;
  //height: 25px;
  // width: 30%;
  z-index: 2;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
.listMenuHover .buttonDis {
  margin: 2px 0 0 4px;
}

button.autoFocus:focus {
  background: rgba(255, 0, 0, 0.8); }

.hidePerm{
  visibility: hidden;
  display: none !important;
}

.userDel .urdel {
  position:absolute;
  right:-35px;
  top:7px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.userDel:hover .urdel {
  right:-4px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.urdel:hover md-icon {color:rgb(244, 67, 54);}
