


.new-multiple {
  //position: fixed;
  right: 41px;
  top: 27px;
}

// RESPONSIVE
/*@media screen and (min-width: $layout-breakpoint-md) {

    #contacts {

        > .content {

            .main {
                left: 268px;
            }
        }
    }
}*/

.pad{
  padding:2% 0% 0% 2%;
}

.overflow{
  overflow-y:auto !important;
}
.maxWidth{
   max-width: 25% !important;
 }
.maxWidthDes{
  max-width: 65% !important;
  width: 24px ;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.maxWidthPerm{
  max-width: 74% !important;
  width: 24px ;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.chip{
  border-radius: 16px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  //float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  background: rgb(224,224,224);
  color: rgb(66,66,66);
  font-family: "Monaco", "Menlo", "Consolas", "Ubuntu Mono", monospace;
}

.listMenuHover{
  //left: 130px;
  //top: -12px;
  //height: 25px;
  // width: 30%;
  z-index: 2;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
.listMenuHover .buttonDis {
  margin: 2px 0 0 4px;
}

button.autoFocus:focus {
  background: rgba(255, 0, 0, 0.8); }

.hidePerm{
  visibility: hidden;
  display: none !important;
}

.userDel .urdel {
  position:absolute;
  right:-60px;
  top:7px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.userDel:hover .urdel {
  right:-4px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.urdel:hover md-icon {color:rgb(244, 67, 54);}
//md-tab-content {
//  overflow: auto;
//}
//md-tabs {
//  display: block;
//  margin: 0;
//  border-radius: 2px;
//  overflow: scroll;
//  position: static !important;
//  flex-shrink: 0;
//}

.dividerHeader{
  border-top-color: orange !important;
  border-top-width: 2px !important;
}
