<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between center">

    <!-- APP TITLE -->
    <div layout="row" layout-align="start center">
      <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')"
                 aria-label="Toggle sidenav" translate translate-attr-aria-label="CONTACTS.TOGGLE_SIDENAV">
        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
      </md-button>

      <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon" style="padding-left: 12px;">
                    <md-icon md-font-icon="icon-account-circle" class="s24"></md-icon>
                </span>
        <!-- <span class="logo-text" translate="CONTACTS.CONTACTS">User Management</span> -->
        <span class="logo-text">User Management</span>
      </div>
    </div>
    <!-- / APP TITLE -->

    <!-- SEARCH -->

    <md-fab-speed-dial ng-hide="vm.hidden" md-direction="down" md-open="vm.isOpen" class="md-scale new-multiple"
                       ng-class="{ 'md-hover-full': vm.hover }" ng-mouseenter="vm.isOpen=true"
                       ng-mouseleave="vm.isOpen=false">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-tooltip md-direction="left" md-visible="tooltipVisible"><span
            translate="generic.create"></span></md-tooltip>
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>

        <md-button aria-label="" class="md-fab md-accent md-raised md-mini"
                   ng-click="vm.openContactDialog($event, contact)">
          <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false"><span
            translate="CONTACTS.newUser"></span></md-tooltip>
          <md-icon md-font-icon="icon-account" aria-label=""></md-icon>
        </md-button>

        <md-button aria-label="AddFile" ng-click="vm.openRoleEditDialog($event, vm.role)"
                   class="md-fab md-accent md-raised md-mini">
          <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false"><span
            translate="CONTACTS.newRole"></span></md-tooltip>
          <md-icon md-font-icon="icon-key" aria-label=""></md-icon>
        </md-button>

        <!--
                    <md-button aria-label="AddFolder"  ng-click="vm.showFolderDialog($event)" class="md-fab md-raised md-accent md-mini">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false"><span translate="">New Assignment</span></md-tooltip>
                        <md-icon md-font-icon class="icon-account-key" aria-label=""></md-icon>
                    </md-button>
        -->

      </md-fab-actions>
    </md-fab-speed-dial>
    <!--<div class="search-input-wrapper" layout="row" layout-align="start center">-->
    <!--<label for="search">-->
    <!--<md-icon md-font-icon="icon-magnify"></md-icon>-->
    <!--</label>-->
    <!--<md-input-container md-no-float class="m-0">-->
    <!--&lt;!&ndash; <input id="search" placeholder="Search Users" type="text" ng-model="vm.search" translate-->
    <!--translate-attr-placeholder="CONTACTS.SEARCH_FOR_ANYONE"> &ndash;&gt;-->
    <!--<input id="search" placeholder="Search Users" type="text" ng-model="vm.search">-->
    <!--</md-input-container>-->
    <!--</div>-->
    <!-- / SEARCH -->

  </div>
  <!-- / HEADER -->

  <!-- SELECTED BAR -->
  <div ng-show="vm.selectedContacts.length > 0" class="selected-bar header animate-slide-down md-accent-bg"
       layout="row" layout-align="start center">

    <div class="close-button-wrapper" ng-click="vm.selectedContacts =[]">
      <md-button layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
        <span translate="CONTACTS.BACK">Back</span>
      </md-button>
    </div>

    <div flex layout="row" layout-align="start center">

      <div flex="20">
                <span class="selected-contacts-count">
                    <span>{{vm.selectedContacts.length}}</span>
                    <span translate="CONTACTS.SELECTED">selected</span>
                </span>

        <md-menu class="select-menu" ng-if="!vm.currentThread">
          <md-button class="md-icon-button"
                     ng-click="$mdOpenMenu($event)"
                     aria-label="multi select toggle"
                     translate translate-attr-aria-label="CONTACTS.MULTI_SELECT_TOGGLE">
            <md-icon md-font-icon="icon-menu-down"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.selectAllContacts()" translate="CONTACTS.SELECT_ALL">
                Select all
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.deselectContacts()" translate="CONTACTS.SELECT_NONE">
                Select none
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>

      <div flex="20">
                <span class="selected-contacts-count">
                    <span>Actions</span>
                </span>

        <md-menu class="select-menu" ng-if="!vm.currentThread">
          <md-button class="md-icon-button"
                     ng-click="$mdOpenMenu($event)"
                     aria-label="multi select toggle"
                     translate translate-attr-aria-label="CONTACTS.MULTI_SELECT_TOGGLE">
            <md-icon md-font-icon="icon-menu-down"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item ng-show="vm.selectedContacts.length > 0">
              <md-button ng-click="vm.deleteSelectedContacts($event)" translate="CONTACTS.deleteSelected">
                Delete Selected
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>

      <div class="multi-select-actions" flex="60">
        <md-button ng-show="vm.selectedContacts.length > 1" class="md-icon-button"
                   ng-click="vm.deleteSelectedContacts($event)"
                   aria-label="delete selected" translate translate-attr-label="CONTACTS.DELETE_SELECTED">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
      </div>

    </div>

  </div>
  <!-- / SELECTED BAR -->

  <!-- CONTENT -->
  <div class="content">

    <md-tabs md-dynamic-height>
      <md-tab label="Users">

        <!-- MAIN -->
        <div class="main">
          <md-list class="contacts-list">

            <!-- CONTACT LIST HEADER -->
            <md-subheader class="md-no-sticky md-white-bg">

              <div layout="row" layout-align="start start">

                <div class="list-title" layout="row" layout-align="start start"
                     ng-hide="editGroupForm.$visible">
                  <span ng-if="vm.listType === 'all'" translate="CONTACTS.ALL_USERS">All contacts</span>
                  <span ng-if="vm.listType.name">{{vm.listType.name}}</span>
										<span class="secondary-text contacts-count">
											({{filteredContacts.length}})
										</span>
                </div>

                <div flex></div>

                <md-menu class="labels">

                  <md-button class="md-icon-button md-button md-default-theme md-ink-ripple" aria-label="Sort" translate
                             translate-attr-aria-label="CONTACTS.SORT" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="icon-sort-alphabetical"></md-icon>
                  </md-button>

                  <md-menu-content class="labels-menu-content" width="3">

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'fullName';vm.listOrderAsc = false"
                                 ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                        <span translate="CONTACTS.FIRST_NAME">First Name</span>
                        <small translate="CONTACTS.A_TO_Z">(A to Z)</small>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'fullName'; vm.listOrderAsc = true"
                                 ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                        <span translate="CONTACTS.FIRST_NAME">First Name</span>
                        <small translate="CONTACTS.Z_TO_A">(Z to A)</small>
                      </md-button>
                    </md-menu-item>

                  </md-menu-content>

                </md-menu>

              </div>

            </md-subheader>
            <!-- / CONTACT LIST HEADER -->


            <!-- CONTACT ITEM -->
            <div class="main scrollable" ms-scroll>
              <md-list-item class="contact-item md-white-bg"
                            ng-repeat="contact in vm.contacts | filter: vm.search | filter: global.search |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "

                            ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContacts.length - $index}"
                            ng-class="{'selected': vm.isSelected(contact)}"
                            ng-mouseenter="options=true" ng-mouseleave="options=false">

                <!--<md-checkbox ng-checked="vm.exists(contact, vm.selectedContacts)"-->
                <!--ng-click="vm.toggleSelectContact(contact, $event)"-->
                <!--aria-label="{{vm.exists(contact, vm.selectedContacts) ? 'Deselect' : 'Select'}}">-->
                <!--</md-checkbox>-->

                <img ng-click="vm.openContactDialog($event, contact)" class="md-avatar" ng-if="contact.avatar"
                     alt="{{contact.username}}"
                     ng-src="{{contact.avatar}}"/>

                <p class="maxWidth text-truncate font-weight-600" ng-click="vm.openContactDialog($event, contact)">
                  <span>{{contact.fullName? contact.fullName: contact.username}}
                    <md-tooltip><span translate="generic.name"></span></md-tooltip>
                  </span>
                  <!--<md-tooltip><span translate="CONTACTS.editUser"></span></md-tooltip>-->
                </p>

                <p class="maxWidthDes" ng-click="vm.openContactDialog($event, contact)">
                  <span ng-if="contact.roles.length !== 0" ng-repeat="role in contact.roles" class="chip">
                    {{role.name}}
                  </span>
                  <strong ng-if="contact.roles.length === 0"
                          translate="CONTACTS.noRoles"></strong>
                  <md-tooltip><span translate="CONTACTS.rolesAssigned"></span></md-tooltip>
                </p>

                <div ng-if="options" ng-hide="contact.username === 'admin'" class="listMenuHover">
                  <!--<md-button ng-click="vm.openContactDialog($event, contact)" class="buttonDis md-icon-button " aria-label="Edit" translate translate-attr-aria-label="">-->
                  <!--<md-tooltip md-direction="top">{{'generic.edit' | translate}}</md-tooltip>-->
                  <!--<md-icon md-font-icon="icon-pencil s18" ng-click=""></md-icon>-->
                  <!--</md-button>-->
                  <md-button ng-click="vm.deleteContactConfirm(contact, $event)" class="buttonDis md-icon-button "
                             aria-label="Delete" translate translate-attr-aria-label="">
                    <md-tooltip md-direction="top">{{'generic.delete' | translate}}</md-tooltip>
                    <md-icon md-font-icon="icon-delete s18" ng-click=""></md-icon>
                  </md-button>
                </div>

                <!--<div layout="row">-->
                <!--<md-button class="md-icon-button" ng-if="!vm.newContact"-->
                <!--ng-click="vm.deleteContactConfirm(contact, $event)" aria-label="Delete"-->
                <!--translate translate-attr-aria-label="CONTACTS.DELETE">-->
                <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
                <!--<md-tooltip><span translate="CONTACTS.DELETE">DELETE</span></md-tooltip>-->
                <!--</md-button>-->
                <!--</div>-->

              </md-list-item>
              <!-- CONTACT ITEM -->
            </div>

          </md-list>

          <!-- NO RESULTS -->
          <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">
            <p translate="CONTACTS.NO_RESULTS">No results..</p>
          </md-list-item>
          <!-- / NO RESULTS -->

        </div>
      </md-tab>

      <!-- Roles Tab-->
      <md-tab label="Roles">
        <div class="main">
          <md-list class="contacts-list">

            <!-- CONTACT LIST HEADER -->
            <md-subheader class="md-no-sticky md-white-bg">

              <div layout="row" layout-align="start start">

                <div class="list-title" layout="row" layout-align="start start"
                     ng-hide="editGroupForm.$visible">
                  <span ng-if="vm.listType === 'all'" translate="CONTACTS.allRoles"></span>
                  <span ng-if="vm.listType.name">{{vm.listType.name}}</span>
										<span class="secondary-text contacts-count">
											({{filteredRoles.length}})
										</span>
                </div>

                <div flex></div>

                <md-menu class="labels">

                  <md-button class="md-icon-button md-button md-default-theme md-ink-ripple" aria-label="Sort" translate
                             translate-attr-aria-label="CONTACTS.SORT" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="icon-sort-alphabetical"></md-icon>
                  </md-button>

                  <md-menu-content class="labels-menu-content" width="3">

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'name';vm.listOrderAsc = false"
                                 ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                        <span translate="CONTACTS.roleName"></span>
                        <small translate="CONTACTS.A_TO_Z">(A to Z)</small>
                      </md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button ng-click="vm.listOrder = 'name'; vm.listOrderAsc = true"
                                 ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                        <span translate="CONTACTS.roleName"></span>
                        <small translate="CONTACTS.Z_TO_A">(Z to A)</small>
                      </md-button>
                    </md-menu-item>

                  </md-menu-content>

                </md-menu>

              </div>

            </md-subheader>
            <!-- / CONTACT LIST HEADER -->


            <!-- CONTACT ITEM -->
            <div class="main scrollable" ms-scroll>
              <md-list-item class="contact-item md-white-bg"
                            ng-repeat="role in vm.roles | filter: vm.search | filter: global.search |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredRoles track by role.id "

                            ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredRoles.length - $index}"
                            ng-class="{'selected': vm.isSelected(role)}"
                            ng-mouseenter="options=true" ng-mouseleave="options=false">


                <p ng-click="vm.openRoleEditDialog($event, role)" class="maxWidth"
                   class="text-truncate font-weight-600">
                  <strong>
                    <md-icon md-font-icon="icon-key"></md-icon>
                    &nbsp;{{role.name}}
                    <md-tooltip><span translate="generic.name"></span></md-tooltip>
                  </strong>
                </p>

                <p ng-click="vm.openRoleEditDialog($event, role)" class="maxWidthPerm">
                  <span ng-if="role.permissions.length !== 0"
                        ng-repeat="perm in role.permissions | filter: {expression: '!default:*'}" class="chip">
                    {{perm.name}}
                  </span>
                  <span ng-if="role.permissions.length === 0 || !role.permissions
                                || (role.permissions.length === 1 && role.permissions[0].expression==='default:*')"
                        translate="CONTACTS.noPermissions"></span>
                  <md-tooltip><span translate="CONTACTS.assignedPerms"></span></md-tooltip>
                </p>

                <div ng-if="options" ng-hide="role.name === 'admin'" class="listMenuHover">
                  <!--<md-button ng-click="vm.openRoleEditDialog($event, role)" class="buttonDis md-icon-button " aria-label="Edit" translate translate-attr-aria-label="">-->
                  <!--<md-tooltip md-direction="top">{{'generic.edit' | translate}}</md-tooltip>-->
                  <!--<md-icon md-font-icon="icon-pencil s18" ng-click=""></md-icon>-->
                  <!--</md-button>-->
                  <md-button ng-click="vm.deleteRoleConfirm(role, $event)" class="buttonDis md-icon-button "
                             aria-label="Delete" translate translate-attr-aria-label="">
                    <md-tooltip md-direction="top">{{'generic.delete' | translate}}</md-tooltip>
                    <md-icon md-font-icon="icon-delete s18" ng-click=""></md-icon>
                  </md-button>
                </div>

              </md-list-item>
              <!-- CONTACT ITEM -->
            </div>

          </md-list>

          <!-- NO RESULTS -->
          <md-list-item class="no-results md-white-bg" ng-show="filteredRoles.length === 0">
            <p translate="CONTACTS.NO_RESULTS">No results..</p>
          </md-list-item>
          <!-- / NO RESULTS -->

        </div>
      </md-tab>
    </md-tabs>

  </div>
  <!-- / CONTENT -->
  <!-- Roles' Tab ends here-->

</div>
