
<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column"ng-show="vm.selected.type=='Folder' || vm.selected.type=='file'" layout-align="space-between">

    <div class="toolbar" layout="row" layout-align="end center">
		<md-button class="md-icon-button hidden" ng-show="vm.selected.type==='file'" ng-click="vm.download(vm.selected,vm.selected.type)" aria-label="Download">
      		<md-icon md-font-icon="icon-download"></md-icon>
      		<md-tooltip><span translate="file.download"></span></md-tooltip>
    	</md-button>

    	<md-button class="md-icon-button" ng-show="vm.selected.type=='Folder' || vm.selected.type=='file'" ng-click="vm.deleteRe(vm.selected,vm.selected.type)" aria-label="Delete" translate
               translate-attr-aria-label="FM.DELETE">
      		<md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span translate="generic.delete"></span></md-tooltip>
    	</md-button>

        <md-button class="md-icon-button" aria-label="Save" ng-click="vm.updateVariables(vm.selected)" >
      		<md-icon md-font-icon="icon-check"></md-icon>
      		<md-tooltip><span translate="generic.save"></span></md-tooltip>
    	</md-button>
  	</div><!--/toolbar-->
	<div>
    	<div class="title stitle">
        	<span editable-text="vm.selected.FileName"  onbeforesave="vm.updateName($data,vm.selected)">{{vm.selected.FileName}}</span>
        </div>
    	<div class="subtitle secondary-text">
            <md-icon md-font-icon="icon-border-color"></md-icon><span>{{vm.selected.Details.dateModified | limitTo:'22':'0'}}</span>
            <md-icon md-font-icon="icon-floppy"></md-icon><span>{{vm.selected.Details.size === '' ? '-': vm.selected.Details.size}}</span>
            <md-icon md-font-icon="icon-folder"></md-icon><span>{{vm.selected.path}}</span>
        </div>
  	</div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" ng-show="vm.selected.type=='file'" flex ms-scroll>



	<div layout="row" class="script-head" layout-align="space-between">
    	<md-subheader class="md-primary"><span translate="file.scriptVariables"></span></md-subheader>
    <button  ng-click="vm.addNewVariables()"><md-icon md-font-icon="icon-plus"></md-icon></button>
    </div>

	<div class="script-content" ng-show="vm.selected.type==='file'" layout="row" layout-align="center center">

        <form name="createForm" novalidate>
        	<div layout="row" class="script-labels">
            	<div flex="45"><span translate="generic.name"></span></div>
                <div flex="5"></div>
                <div flex="45"><span translate="file.variables"></span></div>
            </div>


            <div layout="row" class="veriables" data-ng-repeat="variable in vm.selected.variables">

                <div flex="45">
                    <md-input-container class="md-block">
                        <input type="text" name="name+'_{{$index}}'" min="1"  ng-pattern="/^[a-zA-Z0-9_]{3,30}$/" aria-label="variable.name"  ng-model="variable.name" required>
                        <div ng-messages="createForm.name+'_{{$index}}'.$error"  ng-show="createForm.name+'_{{$index}}'.$touched"
                               role="alert">
                            <div ng-message="required">
                                <span translate="data.cannot_null" translate-values="{name:'{{'generic.name'|translate}}'}"></span>
                            </div>
                            <div ng-message="pattern">
                              <span translate="data.specialChar" translate-values="{field:'{{'generic.name'|translate}}'}"></span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="5"></div>
                <div flex="45">
                  <md-input-container class="md-block">
                    <md-select name="script" required="" ng-model="variable.type" aria-label="variable">
                      <md-option ng-value="vari.type" ng-repeat="vari in vm.variablesTypes">{{vari.name}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <span>

              <button ng-click="vm.removeVariables(variable.name)"><md-icon md-font-icon="icon-delete"></md-icon></button>
                    <!--<button ng-show="$last" ng-click="vm.addNewVariables()"><md-icon md-font-icon="icon-plus"></md-icon></button>-->
              </span>
          </div><!--row-->

        </form>
  	</div>



</md-content>
<!-- / SIDENAV CONTENT -->
