<div layout="row" id="file-manager" class=" age-layout page-layout2 simple right-sidenav right-sidenav2">

 <div class="side-nav" layout="column" flex="30" style="overflow: hidden">
		<div class="top-bg md-accent-bg"></div>
		<div class="header" layout="column" layout-align="space-between">
			<div class="logo" layout="row" layout-align="start center">
				<span class="logo-text" translate="application.applications"></span>
			</div>
      <md-fab-trigger  class="fabIcon">
        <md-button aria-label="menu" class="md-fab md-warn" ng-click="vm.create()">
          <md-tooltip><span translate="generic.createLabel" translate-values="{name:'{{'application.application'|translate}}'}"></span></md-tooltip>
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
      </md-fab-trigger>
		</div>
		<div class="center team-list" layout="column" ms-scroll>

			  <div class="todo-items" ng-model="vm.agentList">

				<div class="todo-item md-grey-A100-bg" md-ink-ripple layout="row" layout-align="start center" ng-click="vm.selectedTeam(team)" ng-repeat="team in vm.teamList">
					<div class="info" flex="100">
						<md-list flex="100" class="fixedRows">
							<md-list-item class="contact-item">
							  <div class="md-list-item-text compact">
									<h3><md-tooltip><span translate="generic.name"></span></md-tooltip><span>{{team.teamname}}</span></h3>
								</div>
							</md-list-item>
						</md-list>
					</div><!-- info -->

				</div><!-- todo-item -->

				<div class="todo-item md-grey-A100-bg"  md-ink-ripple layout="row" layout-align="start center"
					 ng-click="vm.select(application)"
					 ng-repeat="application in vm.applications | filter:global.search">

					<div class="info" flex="100">
						<md-list flex="100" class="fixedRows">
							<md-list-item class="contact-item">
							  <div class="md-list-item-text compact">
									<h3>
										<span>
											{{application.applicationName}}({{application.id}})
											<md-tooltip md-direction="top"><span translate="generic.idName"></span></md-tooltip>
										</span>
									</h3>
								</div>
							</md-list-item>
						</md-list>
					</div><!-- info -->

				</div>


			  </div>

		</div>
	</div>

  <md-sidenav ng-show="vm.selected" class="center sidebar" layout="column" flex="70" md-is-locked-open="$mdMedia('gt-xs')"
              md-component-id="details-sidenav"
              ng-include="'app/TAM/application/sidenavs/sidenav.html'" ms-scroll
              ms-sidenav-helper>
  </md-sidenav>



</div>
