<div layout="row" id="file-manager" class="page-layout page-layout2 simple right-sidenav right-sidenav2">

    <div class="side-nav" layout="column" flex="30" style="overflow: hidden">
        <div class="top-bg md-accent-bg"></div>
        <div class="header" layout="row" layout-align="space-between">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-text" translate="agent.agents"></span>

            </div>
            <!-- <ms-search-bar ></ms-search-bar> -->
        </div>

        <!--Agents List-->
        <div class="center agent-list scrollable" layout=" column " ms-scroll>
            <!--<table ng-table="vm.tableParams ">
      <tr ng-repeat="agent in vm.agentList ">
       <td>-->

            <div ng-show="vm.agents.length==0 " class="todo-items ">
                <div class="todo-item md-grey-A100-bg " md-ink-ripple layout="row " layout-align="start center ">
                    <div class="info " flex="100 ">
                        <md-list flex="100 " class="fixedRows ">
                            <md-list-item class="md-2-line contact-item " ng-disabled>
                                <div class="md-list-item-text compact ">
                                    <h3>
                                        <md-tooltip md-direction="top "><span translate="generic.name "></span></md-tooltip><span class="fname ">
								{{agent.firstName}} </span> <small>{{agent.lastName}}</small></h3>
                                    <div layout="row ">
                                        <div flex="60 " class="tags ">
                                            <div class="m-0 white-bg grey-700-fg ">
                                                <span translate="agent.no_agent_list "></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="notes " flex="100 ">
								<md-progress-linear class="md-info md-accent md-default-theme " md-mode="determinate " value="{{agent.competence_level*10}} "></md-progress-linear>
								<md-tooltip><span>Competence Level: </span>{{agent.competence_level}}</md-tooltip>
							</div>-->
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

            </div>

            <div class="todo-items " ng-model="vm.agentList ">
                <div class="todo-item md-grey-A100-bg " md-ink-ripple layout="row " layout-align="start center " ng-click="vm.selectedAgent(agent) " ng-repeat="agent in vm.agents | filter:global.search ">
                    <!-- md-grey-A100-bg -->

                    <div class="info " flex="100 ">
                        <md-list flex="100 " class="fixedRows ">
                            <md-list-item class="md-2-line contact-item ">
                                <img ng-src="{{agent.avatar ? agent.avatar: '/assets1/images/avatars/profile.jpg'}} " class="md-avatar " alt="{{agent.firstName}} " />
                                <!--<div>
                     <md-icon md-font-icon ng-class="agent.status==='ready' ? 'icon-phone ready':agent.status==='talking' ? 'icon-phone-in-talk talking':agent.status==='notready' ? 'icon-phone-paused notready':agent.status==='logout' ?
            'icon-phone-hangup logdout': '' " class="icon status s12 astatus ">
                       <md-tooltip md-direction="right ">{{agent.status}}</md-tooltip>
                     </md-icon>
                   </div>-->
                                <div class="md-list-item-text compact ">
                                    <h3>
                                        <md-tooltip md-direction="top "><span translate="generic.name "></span></md-tooltip><span class="fname ">{{agent.firstName}} </span> <small>{{agent.lastName}}</small></h3>
                                    <div layout="row ">
                                        <div flex="60 " class="tags ">
                                            <div class="m-0 white-bg grey-700-fg ">
                                                <md-tooltip><span translate="generic.id "></span></md-tooltip>
                                                <span class="icon-account "></span><span>{{agent.userID}}</span>
                                            </div>
                                        </div>
                                        <div flex="40 " class="tags ">
                                            <div class="text-boxed m-0 green-bg white-fg ">
                                                <md-tooltip md-direction="top "><span translate="agent.extension "></span></md-tooltip>
                                                <span class="icon-headphones "></span> {{agent.extension}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="notes " flex="100 ">
                       <md-progress-linear class="md-info md-accent md-default-theme " md-mode="determinate " value="{{agent.competence_level*10}} "></md-progress-linear>
                       <md-tooltip><span>Competence Level: </span>{{agent.competence_level}}</md-tooltip>
                     </div>-->
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <!-- info -->

                </div>
                <!-- todo-item -->
            </div>
            <!-- </td>
      </tr>
    </table>-->
            <!-- todo-items -->
        </div>
        <!-- flex 30 -->
    </div>


    <!--Agent Detail-->
    <!--Agent Detail-->
    <md-sidenav ng-if="vm.agent!=undefined " class="center sidebar " layout="column " flex="70 " md-is-locked-open="$mdMedia( 'gt-xs') " md-component-id="details-sidenav " ng-include=" 'app/TAM/agent/sidenavs/sidenaveEdit.html'
            " ms-scroll class="scrollable "
        ms-sidenav-helper>
    </md-sidenav>
</div>
