<div class="event-detail-dialog" aria-label="New Message">



    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Skill Detail</span>

      </div>
    </md-toolbar>
  <form name="skillForm" class="user-detail">
    <md-dialog-content ms-scroll>

      <div layout="row" layout-align="center start" layout-margin>
        <div flex="30">
          <div layout="column" layout-align="center start">


          </div><!--column-->
        </div>
        <div flex="70">
          <div layout="row" class="date-row">

            <md-input-container flex="" >
              <label for="">Name</label>
              <input name="name"    ng-model-options="{ debounce: 250 }"
                     property="nameExist" ng-model="vm.skill.skillName"  autocomplete="off" required>
              <div ng-messages="skillForm.name.$error" ng-show="skillForm.name.$dirty" role="alert">
                <div ng-message="required">
                  <span >Name cannot be null</span>
                </div>
                <div ng-show="!createForm.name.$valid && nameExist">
                  <span >Name must be greater than 5 digits and unique</span>
                </div>
              </div>
            </md-input-container>

          </div>

        </div>
      </div><!--row-->

    </md-dialog-content>
	
   <md-dialog-actions layout="row" class="agent-act" layout-align="center center" layout-margin>
      <div flex="20">
        <button type="button" ng-click="vm.deleteSkill(vm.skill)" class="md-icon-button md-button md-ink-ripple" aria-label="Delete"><md-icon md-font-icon="icon-delete" class="md-font icon-delete material-icons"></md-icon><md-tooltip>Delete</md-tooltip></button>
      </div>
      <div flex="80" layout="row" layout-align="end center">
		   <md-button ng-click="vm.update(vm.skill)" class="save-button md-accent white-fg md-raised" aria-label="Save"
		   ng-disabled="skillForm.$invalid || skillForm.$pristine">Save</md-button>
      </div>
    </md-dialog-actions>
    
  </form>

</div>
