<div id="smallDialog">
    <md-dialog class="md-default-theme compose-dialog" aria-label="New Message" ng-cloak>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" translate="generic.createLabel" translate-values="{name:'{{'file.folder'|translate}}'}"></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form name="folderForm" class="md-inline-form" novalidate>

            <!--{{vm.easyAnnouncement}}-->

            <md-dialog-content ms-scroll>
                <div layout="row" class="date-row">
                    <md-input-container class="md-block pic-msg">
                        <label translate="generic.name"></label>
                        <input name="name" ng-model="vm.folder.name" ng-pattern="/^[a-zA-Z0-9_]{3,30}$/" autocomplete="off" required>
                        <div ng-messages="folderForm.name.$error" ng-show="folderForm.name.$touched" role="alert">
                            <div ng-message="required">
                                <span translate="data.cannot_null" translate-values="{name:'{{'generic.name'|translate}}'}"></span>
                            </div>
                            <div ng-message="pattern">
                                <span translate="data.specialChar" translate-values="{name:{{'file.folder'|translate}}}"></span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row" layout-align="space-between center">
                <md-button ng-click="vm.createFolder(vm.folder)" class="save-button md-accent md-raised" aria-label="SAVE" ng-disabled="folderForm.$invalid || folderForm.$pristine">
                    <span translate="generic.save"></span>
                </md-button>


            </md-dialog-actions>
        </form>
    </md-dialog>
</div>