<div id="smallDialog">
  <md-dialog  class="md-default-theme compose-dialog" aria-label="New Message"  ng-cloak>

    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" >
        <span class="title" translate="generic.addLabel" transalte-values="{'{{'group.group'|translate}}'}"></span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

      </div>

    </md-toolbar>
    <!--{{vm.easyAnnouncement}}-->

    <form name="groupForm" class="user-detail">
      <md-dialog-content ms-scroll>

        <div layout="row" class="date-row">

          <md-input-container flex="" >
            <label for="" translate="generic.name"></label>
            <input name="name"
                   property="nameExist" ng-model="vm.group.name"
                   autocomplete="off" ng-model-options="{ debounce: 250 }" ng-pattern="/^[a-zA-Z0-9_]{3,30}$/" name-local-validate
                   list-element="{{vm.groups}}"
                   max-length="3" object-key="name"
                   required>
            <div ng-messages="groupForm.name.$error" ng-show="groupForm.name.$touched && !groupForm.name.$valid" role="alert">
              <div ng-message="required">
                <span translate="data.cannot_null" translate-values="{name:'{{'generic.name'|translate}}'}"> </span>
              </div>
              <div ng-show="!serviceForm.name.$valid && nameExist">
                <span translate="data.charSize" translate-values="{field:'{{'generic.name'|translate}}',number:2}"></span>
              </div>
              <div ng-message="pattern">
                <span translate="data.specialChar" translate-values="{field:'{{'generic.name'|translate}}'}"></span>
              </div>
            </div>
          </md-input-container>

        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row" layout-align="center center" layout-padding>
        <md-button  ng-click="vm.saveGroup(vm.group)" class="save-button md-accent white-fg md-raised" aria-label="Save"
                    ng-disabled="groupForm.$invalid || groupForm.$pristine">Save</md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>
