<div id="smallDialog">
    <md-dialog class="md-default-theme compose-dialog" aria-label="New Message" ng-cloak>

        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools">
                <!-- Title -->
                <span class="title" translate="generic.addLabel" transalte-values="{'{{'skill.skill'|translate}}'}"></span>
                <!-- /Title -->

                <span flex></span>
                <!-- CLOSE DIALOG BUTTON -->
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
                <!-- /CLOSE DIALOG BUTTON -->
            </div>

        </md-toolbar>
        <!--{{vm.easyAnnouncement}}-->

        <form name="skillForm" class="user-detail">
            <md-dialog-content ms-scroll>

                <div layout="row" class="date-row">

                    <md-input-container flex="">
                        <label for="" translate="generic.name"></label>
                        <input name="name" property="nameExist" ng-model="vm.skill.skillName" autocomplete="off" ng-model-options="{ debounce: 250 }" ng-pattern="/^[a-zA-Z0-9_]{3,30}$/" name-local-validate list-element="{{vm.skillList}}" max-length="3" object-key="skillName"
                            required>
                        <div ng-messages="skillForm.name.$error" ng-show="skillForm.name.$dirty" role="alert">
                            <div ng-message="required">
                                <span translate="data.cannot_null" translate-values="{name:'{{'generic.name'|translate}}'}"> </span>
                            </div>
                            <div ng-show="!skillName.skillName.$valid && nameExist">
                                <span translate="data.charSize" translate-values="{field:'{{'generic.name'|translate}}',number:2}"></span>
                            </div>
                            <div ng-message="pattern">
                                <span translate="data.specialChar" translate-values="{field:'{{'generic.name'|translate}}'}"></span>
                            </div>
                        </div>
                    </md-input-container>

                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row" layout-align="center center" layout-padding>
                <md-button ng-click="vm.saveSkill(vm.skill)" class="save-button md-accent white-fg md-raised" aria-label="Save" ng-disabled="skillForm.$invalid || skillForm.$pristine"><span translate="generic.save"></span></md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>

</div>