md-dialog {

    &.contact-dialog {
      max-width: 700px !important;
      min-width: 37% !important;

		.user-roles {
			height: 212px;
			overflow: auto;
		}
		.h3 {
			font-size: 1.4rem;
			margin: 1px 0 0;
		}

        md-toolbar {
            height: 240px;
            min-height: 240px;
            max-height: 240px;

            //.title {
            //    font-size: 17px;
            //}

            .md-toolbar-tools-middle {
                height: 144px;
                min-height: 144px;
                max-height: 144px;

                .contact-avatar {
                    margin: 0;
                }

                .contact-name {
                    padding-bottom: 23%;
                    font-size: 24px;
                    margin: 8px 0;
                }
            }

            .md-toolbar-tools-bottom {
				background-color: #fff;
				color: rgba(0, 0, 0, 0.87);
				font-size: 0.7em;
				label {
					display: inline-block;
					margin: 0 10px 0 0;
				}
				md-switch {
					margin: 0;
				}
                md-menu {
                    margin: 0;
                }
            }
        }

        md-dialog-content {
            display: block;
            position: relative;
            padding-top: 0px;
            .birthday-input {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 0;
                padding: 0 0 32px 0;

                .md-button {
                    margin: 0;
                    padding: 0;
                    width: 24px;
                    height: 24px;

                    md-icon {
                        color: rgba(0, 0, 0, 0.87);
                    }
                }

                .md-datepicker-input-container {
                    display: flex;
                    flex: 1;
                }
            }

            .textarea-wrapper {

                md-input-container {
                    margin-top: 0;
					.md-icon-left {
						padding-left: 0;
					}
					.md-icon-left > label {
						left: 0;
					}
                }

                md-icon {
                    color: rgba(0, 0, 0, 0.87);
                    margin: 0 8px 0 0;
                }
            }
        }

        md-dialog-actions {
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.maxWidth270{
  max-width: 270px;
}
.user-roles {
//	.md-chip-input-container {
//		height: 250px;
//		overflow: auto;
//	}
}
