 <!-- SIDENAV HEADER -->
<div class="header md-accent-bg" ng-show="vm.selected.type=='Folder' || vm.selected.type=='file'" layout="column" layout-align="space-between">
	<div class="toolbar" layout="row"  layout-align="end center">
  	<md-button class="md-icon-button" ng-click="vm.deleteRe(vm.selected,vm.selected.type)" aria-label="Delete" translate
               translate-attr-aria-label="FM.DELETE">
      <md-icon md-font-icon="icon-delete"></md-icon>
      <md-tooltip><span translate="generic.delete"></span></md-tooltip>
    </md-button>


    <md-button class="md-icon-button" ng-show="vm.selected.type==='file'" ng-click="vm.download(vm.selected,vm.selected.type)" aria-label="Download" >
      <md-icon md-font-icon="icon-download"></md-icon>
      <md-tooltip><span translate="file.download"></span></md-tooltip>
    </md-button>
    <md-button flex="20" ng-show="vm.selected.type==='file'"  class="md-icon-button hidden" ng-click="vm.playFile(vm.selected,vm.selected.type)" aria-label="player">
      <md-icon md-font-icon class="{{'icon-play-circle'}}"></md-icon>
      <md-tooltip ><span translate="file.play"></span></md-tooltip>
    </md-button>
  </div>
  <div>
    <div class="title stitle small-title">
    	<span editable-text="vm.selected.FileName" e-validate="/^[a-zA-Z0-9-_]+$/"
            onbeforesave="vm.updateName($data,vm.selected)">{{vm.selected.FileName}}</span>
    </div>
    <div class="subtitle secondary-text"><span translate="file.edited"></span>: {{vm.selected.Details.dateModified | limitTo:'22':'0'}}</div>
  </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" ng-show="vm.selected.type=='Folder' || vm.selected.type=='file'" flex ms-scroll>

  <div class="file-details" >
    <div ng-show="vm.selected.type==='file'" class="preview file-icon" layout="row" layout-align="center center">


    </div>
    <table>
      <tr class="type">
        <th translate="file.type"></th>
        <td>{{vm.selected.type|translate}}
        </td>
      </tr>

      <tr class="size">
        <th translate="file.size"></th>
        <td class="size" hide-xs>{{vm.selected.Details.size === '' ? '-': vm.selected.Details.size}}</td>
      </tr>

      <tr class="location">
        <th translate="file.location" ></th>
        <td>{{vm.selected.path}}</td>
      </tr>

      <tr class="owner">
        <th translate="file.owner"></th>
        <td>{{vm.selected.Details.modifiedBy}}</td>
      </tr>

      <tr class="modified">
        <th translate="file.lastModify"></th>
        <td>{{vm.dateConvert(vm.selected.Details.dateModified)}}</td>
      </tr>

    </table>
  </div>

</md-content>
<!-- / SIDENAV CONTENT -->
