<md-dialog class="md-default-theme compose-dialog" aria-label="Card Dialog" ng-cloak>

  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title" translate="generic.createLabel" trasnlate-values="{name:'{{'csq.csq'|translate}}'}"></span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                 translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.createQueue(vm.queue)"  name="createForm" class="md-inline-form" novalidate>
  <md-dialog-content ms-scroll>
    <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <div layout="column" layout-gt-sm="row" layout-padding>
        <md-input-container flex="50">
          <label translate="generic.name"></label>
          <input type="text" name="name" min="5" max="35" ng-model="vm.queue.name"
                 ng-model-options="{ debounce: 250 }" ng-pattern="/^[a-zA-Z0-9_]{3,30}$/" name-local-validate list-element="{{vm.queueList}}"
                 max-length="3" property="queueExist"  object-key="name"
                 placeholder="{{'generic.name'|translate}}"
                 required>
          <div ng-messages="createForm.name.$error" ng-show="createForm.name.$dirty"
               role="alert">
            <div ng-message="required">
              <span translate="data.cannot_null" translate-values="{name:'{{'generic.name'|translate}}'}"></span>
            </div>
            <div  ng-show="!createForm.name.$valid && queueExist">
              <span  translate="data.charSize" translate-values="{field:'{{'generic.name'|translate}}',number:3}"></span>
            </div>
            <div ng-message="pattern">
              <span  translate="data.specialChar" translate-values="{field:'{{'generic.name'|translate}}'}"></span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
        <md-select name="resourcePoolType" md-on-close="vm.changeQueue(vm.queue.resourcePoolType)" ng-model="vm.queue.resourcePoolType" aria-label="queuingModel" required="" >
          <md-option ng-value="sk.id" ng-repeat="sk in vm.queuingModel">{{sk.name}}</md-option>
        </md-select>
        <div ng-messages="queue.resourcePoolType.$error" ng-show="queue.resourcePoolType.$touched"
             role="alert">
          <div ng-message="required">
            <span translate="generic.selectOne"></span>
          </div>
        </div>
        </md-input-container>
        </div><!--/column-->

        <div layout="column" layout-gt-sm="row">
        <md-input-container flex="100">
          <md-select ng-model="vm.queue.selectionCriteria"placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.selectCriteria} }}"
                     required="" name="selectionCriteria">
            <md-option ng-value="sk.id" ng-repeat="sk in vm.resourceSelectionCriteriaList">{{sk.name}}</md-option>
          </md-select>
          <div ng-messages="queue.selectionCriteria.$error" ng-show="queue.selectionCriteria.$touched"
               role="alert">
            <div ng-message="required">
              <span translate="csq.selectOneLabel" translate-values="{name:{{vm.translationData.selectCriteria}}}"></span>
            </div>
          </div>
        </md-input-container>

        <md-input-container ng-if="vm.queue.resourcePoolType==='RESOURCE_GROUP'" flex="50">
          <md-select ng-model="vm.queue.groupName"  placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.group} }}" required>
            <md-option ng-value="sk" ng-repeat="sk in vm.queueGroupName">{{sk}}</md-option>
          </md-select>
          <div ng-messages="queue.prompt.$error" ng-show="queue.prompt.$touched"
               role="alert">
          </div>
        </md-input-container>
        </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="space-between center">
    <md-button type="submit"  ng-disabled="createForm.$invalid || createForm.$pristine" class="save-button md-accent md-raised" aria-label="Create">
     <span translate="generic.create"></span>
    </md-button>
  </md-dialog-actions>
  </form>
</md-dialog>
